10.WCF/1124PictureService/1124WCFPictureClient/1124WCFPictureClient/Service References/ServiceReference1/PictureService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PictureService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/wcf/example/pictureservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/wcf/example/pictureservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/wcf/example/pictureservice?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPicture_GetPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPicture" />
  </wsdl:message>
  <wsdl:message name="IPicture_GetPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IPicture_GetPictureList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureList" />
  </wsdl:message>
  <wsdl:message name="IPicture_GetPictureList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureListResponse" />
  </wsdl:message>
  <wsdl:message name="IPicture_UploadPicutre_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPicutre" />
  </wsdl:message>
  <wsdl:message name="IPicture_UploadPicutre_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPicutreResponse" />
  </wsdl:message>
  <wsdl:portType name="IPicture">
    <wsdl:operation name="GetPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IPicture/GetPicture" message="tns:IPicture_GetPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPicture/GetPictureResponse" message="tns:IPicture_GetPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPictureList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPicture/GetPictureList" message="tns:IPicture_GetPictureList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPicture/GetPictureListResponse" message="tns:IPicture_GetPictureList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPicutre">
      <wsdl:input wsaw:Action="http://tempuri.org/IPicture/UploadPicutre" message="tns:IPicture_UploadPicutre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPicture/UploadPicutreResponse" message="tns:IPicture_UploadPicutre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPicture" type="tns:IPicture">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPicture">
      <soap:operation soapAction="http://tempuri.org/IPicture/GetPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureList">
      <soap:operation soapAction="http://tempuri.org/IPicture/GetPictureList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPicutre">
      <soap:operation soapAction="http://tempuri.org/IPicture/UploadPicutre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PictureService">
    <wsdl:port name="BasicHttpBinding_IPicture" binding="tns:BasicHttpBinding_IPicture">
      <soap:address location="http://localhost:8080/wcf/example/pictureservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>