12. 시험/1203WCF/1203 WCF/1202 DB/1201 Form/Connected Services/ServiceReference1/StudentManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_1203_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_1203_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stu" nillable="true" type="tns:Stu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStu" nillable="true" type="tns:ArrayOfStu" />
  <xs:complexType name="Stu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="SType" type="tns:Enumclass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stu" nillable="true" type="tns:Stu" />
  <xs:simpleType name="Enumclass">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="COM" />
      <xs:enumeration value="IT" />
      <xs:enumeration value="GAME" />
      <xs:enumeration value="ETC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enumclass" nillable="true" type="tns:Enumclass" />
</xs:schema>