10.WCF/1125 Instance/1125UseInstance/1125UseInstance/Service References/ServiceReference1/helloworldservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_1124WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_1124WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductInfo">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element name="Value" type="xs:double" />
      <xs:element name="CreateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductInfo" nillable="true" type="tns:ProductInfo" />
</xs:schema>